.page {
       width: 210mm;
       margin: 50px auto;
       padding: 15mm 15mm 15mm 25mm;
       box-shadow: 10px 10px 20px black;
       background: #FFFFFF;
      }
body {
       background-color: #c0c0c0;
      }
.caveat400 {
            font-family: 'Lobster', cursive;
            font-weight: 400;
            text-align: justify;
           }
.caveat700 {
            font-family: 'Lobster', cursive;
            font-weight: 700;
           }
.roboto300 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
           }
.roboto900 {
       display: inline-block;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            text-align: right;
           }


